@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
    font-weight: 1000;
    background-image: url(2.png);
}

.our-content{
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
    max-width: 600px;
    margin: auto;
    padding-top: 20px;
    font-weight: 1000;
    padding-bottom: 70px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active{
      background-color: orange;
  }
